body {
  font-family: var(--font-family);
  font-size: var(--font-s-body);
  color: var(--color-text);
  display: flex;

  flex-direction: column;
  font-weight: 500;
  background-color: var(--color-background);

  @include tab {
    align-items: center;
  }
}
