:root {
  --border-radius: calc((10 / 16) * 1rem);
  --spacing: 8px;

  --8px: 8px;
  --10px: 10px;
  --12px: 12px;
  --15px: 15px;
  --16px: 16px;
  --18px: 18px;
  --20px: 20px;
  --22px: 22px;
  --27px: 27px;

  --28: 28px;
  --32px: 32px;
  --36px: 36px;
  --37px: 37px;
  --40px: 40px;
  --64px: 64px;
  --72: 72px;
  --80px: 80px;
  --94px: 94px;
  --112px: 112px;
  --120px: 120px;
}
