.container {
  --color-background: white;
  background-color: var(--color-background);
  border-radius: var(--border-radius);
  overflow: hidden;
  //   width: min(90%, 20rem);
  width: min(calc(100% - var(--spacing) * 6), 45.625rem);
  margin-inline: auto;
  //   border-radius: ;
  box-shadow: 0px 4px 4px 25%;
}
