.section__share {
  background-color: var(--color-primary);
  // display: none;
  &--wrapper {
    display: flex;
    padding-block: var(--12px);
  }

  &--icons {
    display: flex;
    align-items: center;
  }
}
