// Animations

@keyframes slide-up {
  from {
    transform: translateY(0);
    opacity: 0;
  }

  to {
    transform: translateY(-64px);
    opacity: 1;
  }
}

@keyframes slide-up-tab {
  from {
    transform: translateY(0);
    opacity: 0;
  }

  to {
    transform: translateY(-30px);
    opacity: 1;
  }
}

//General

.section__share {
  background-color: var(--color-primary);
  opacity: 0;
  position: absolute;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  width: min(calc(100% - var(--spacing) * 6), 45.625rem);
  will-change: transform;

  &.open {
    animation: slide-up ease-out 500ms both;
  }
  @include tab {
    position: absolute;
    width: max-content;
    border-radius: var(--border-radius);
    top: 58%;
    left: 76.3%;
    // z-index: 2;

    &.open {
      animation: slide-up-tab ease-out 500ms both;
    }
  }

  &--wrapper {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    gap: 20px;
    padding-block: var(--22px);
    padding-inline: var(--32px);
    // width: calc(100% - var(--64px));
    margin-inline: auto;

    @include tab {
      padding-block: var(--18px);
      padding-inline: var(--36px);
    }
  }

  &--icons {
    display: flex;
    align-items: center;
    gap: var(--16px);
  }

  &--text {
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  &__share {
    // margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    @include tab {
      display: none;
    }
    &::before {
      content: " ";
      position: absolute;
      display: block;
      background-color: var(--color-text);
      width: 32px;
      height: 32px;
      // z-index: -1;
      border-radius: 50%;
    }
    &--icon {
      fill: var(--color-background);
      height: 15px;
      width: 13px;
    }
  }

  &__triangle {
    display: none;
    @include tab {
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%) rotate(180deg);
      bottom: -35px;
      color: var(--color-primary);
      font-size: 50px;
    }
  }
}

// .triangle {
//   color: green;
//   font-size: 50px;
// }
